include icepapcms.icon
global-exclude *.pyc
graft icepapCMS/doc
graft distribute
recursive-include icepapCMS/db *.sql
recursive-include icepapCMS/db *.mwb
recursive-include icepapCMS/templates *
recursive-include icepapCMS/lib_icepapcms *
recursive-include icepapCMS/ui_icepapcms *

