include icepapcms.icon
include *.md
include LICENSE.txt
global-exclude *.pyc
graft distribute
recursive-include icepapcms *.sql
recursive-include icepapcms *.xml
recursive-include icepapcms *.ui
recursive-include icepapcms *.png
recursive-include icepapcms *.svg
recursive-include icepapcms *.gif
recursive-include icepapcms *.txt
recursive-include icepapcms *.pdf
recursive-include icepapcms *.mwb
recursive-include icepapcms *.qrc
recursive-include icepapcms/db *.sh






